---
name: "Auto Labeler"
on:
  # pull_request_target event is required for autolabeler to support all PRs including forks
  pull_request_target:
    types: [opened, reopened, edited, synchronize]
permissions:
  contents: read
jobs:
  auto_labeler:
    permissions:
      contents: read
      pull-requests: write
    uses: github/ospo-reusable-workflows/.github/workflows/auto-labeler.yaml@8f81b19525b174210351d8c53b2efe6a316984f8
    with:
      config-name: release-drafter.yml
    secrets:
      github-token: ${{ secrets.GITHUB_TOKEN }}
